### **Categorical Data in Python**

In [ ]:
#import the dataset
import pandas as pd
import seaborn as sns

cars = pd.read_csv("cars.csv")
print(cars.head())

  manufacturer_name model_name transmission   color  odometer_value  \
0            Subaru    Outback    automatic  silver          190000
1            Subaru    Outback    automatic    blue          290000
2            Subaru   Forester    automatic     red          402000
3            Subaru    Impreza   mechanical    blue           10000
4            Subaru     Legacy    automatic   black          280000

   year_produced engine_fuel  engine_has_gas engine_type  engine_capacity  \
0           2010    gasoline           False    gasoline              2.5
1           2002    gasoline           False    gasoline              3.0
2           2001    gasoline           False    gasoline              2.5
3           1999    gasoline           False    gasoline              3.0
4           2001    gasoline           False    gasoline              2.5

   ... feature_1  feature_2 feature_3 feature_4  feature_5  feature_6  \
0  ...      True       True      True     False       True      False
1  ...      True      False     False      True       True      False
2  ...      True      False     False     False      False      False
3  ...     False      False     False     False      False      False
4  ...      True      False      True      True      False      False

  feature_7  feature_8  feature_9  duration_listed
0      True       True       True               16
1     False      False       True               83
2     False       True       True              151
3     False      False      False               86
4     False      False       True                7

[5 rows x 30 columns]

In [ ]:
#print the columns
import pandas as pd
import seaborn as sns

cars = pd.read_csv("cars.csv")
print(cars.columns)

Index(['manufacturer_name', 'model_name', 'transmission', 'color',
       'odometer_value', 'year_produced', 'engine_fuel', 'engine_has_gas',
       'engine_type', 'engine_capacity', 'body_type', 'has_warranty', 'state',
       'drivetrain', 'price_usd', 'is_exchangeable', 'location_region',
       'number_of_photos', 'up_counter', 'feature_0', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7',
       'feature_8', 'feature_9', 'duration_listed'],
      dtype='object')

In [ ]:
#reveal data types each column
import pandas as pd
import seaborn as sns

cars = pd.read_csv("cars.csv")
print(cars.dtypes)

manufacturer_name     object
model_name            object
transmission          object
color                 object
odometer_value         int64
year_produced          int64
engine_fuel           object
engine_has_gas          bool
engine_type           object
engine_capacity      float64
body_type             object
has_warranty            bool
state                 object
drivetrain            object
price_usd            float64
is_exchangeable         bool
location_region       object
number_of_photos       int64
up_counter             int64
feature_0               bool
feature_1               bool
feature_2               bool
feature_3               bool
feature_4               bool
feature_5               bool
feature_6               bool
feature_7               bool
feature_8               bool
feature_9               bool
duration_listed        int64
dtype: object

In [ ]:
#create statistics summarization of manufacturer_name
import pandas as pd
import seaborn as sns

cars = pd.read_csv("cars.csv")
print(cars["manufacturer_name"].describe())

count          38531
unique            55
top       Volkswagen
freq            4243
Name: manufacturer_name, dtype: object

In [ ]:
#using value counts to reveal the frequency
import pandas as pd
import seaborn as sns

cars = pd.read_csv("cars.csv")
print(cars["manufacturer_name"].value_counts())

manufacturer_name
Volkswagen       4243
Opel             2759
BMW              2610
Ford             2566
Renault          2493
Audi             2468
Mercedes-Benz    2237
Peugeot          1909
Citroen          1562
Nissan           1361
Mazda            1328
Toyota           1246
Hyundai          1116
Skoda            1089
Kia               912
Mitsubishi        887
Fiat              824
Honda             797
Volvo             721
ВАЗ               481
Chevrolet         436
Chrysler          410
Seat              303
Dodge             297
Subaru            291
Rover             235
Suzuki            234
Daewoo            221
Lexus             213
Alfa Romeo        207
ГАЗ               200
Land Rover        184
Infiniti          162
LADA              146
Iveco             139
Saab              108
Jeep              107
Lancia             92
SsangYong          79
УАЗ                74
Geely              71
Mini               68
Acura              66
Porsche            61
Dacia              59
Chery              58
Москвич            55
Jaguar             53
Buick              47
Lifan              47
Cadillac           43
Pontiac            42
ЗАЗ                42
Lincoln            36
Great Wall         36
Name: count, dtype: int64

In [ ]:
#using the normalized value counts to reveal the unique values frequency
import pandas as pd
import seaborn as sns

cars = pd.read_csv("cars.csv")
print(cars["manufacturer_name"].value_counts(normalize=True))

manufacturer_name
Volkswagen       0.110119
Opel             0.071605
BMW              0.067738
Ford             0.066596
Renault          0.064701
Audi             0.064052
Mercedes-Benz    0.058057
Peugeot          0.049545
Citroen          0.040539
Nissan           0.035322
Mazda            0.034466
Toyota           0.032338
Hyundai          0.028964
Skoda            0.028263
Kia              0.023669
Mitsubishi       0.023020
Fiat             0.021385
Honda            0.020685
Volvo            0.018712
ВАЗ              0.012483
Chevrolet        0.011316
Chrysler         0.010641
Seat             0.007864
Dodge            0.007708
Subaru           0.007552
Rover            0.006099
Suzuki           0.006073
Daewoo           0.005736
Lexus            0.005528
Alfa Romeo       0.005372
ГАЗ              0.005191
Land Rover       0.004775
Infiniti         0.004204
LADA             0.003789
Iveco            0.003607
Saab             0.002803
Jeep             0.002777
Lancia           0.002388
SsangYong        0.002050
УАЗ              0.001921
Geely            0.001843
Mini             0.001765
Acura            0.001713
Porsche          0.001583
Dacia            0.001531
Chery            0.001505
Москвич          0.001427
Jaguar           0.001376
Buick            0.001220
Lifan            0.001220
Cadillac         0.001116
Pontiac          0.001090
ЗАЗ              0.001090
Lincoln          0.000934
Great Wall       0.000934
Name: proportion, dtype: float64

In [ ]:
#grouping data by category
import pandas as pd
import seaborn as sns

cars = pd.read_csv("cars.csv")
cr = cars.groupby(by=["engine_fuel", "engine_type"])
print(cr.size())

engine_fuel    engine_type
diesel         diesel         1551
gas            gasoline        232
gasoline       gasoline       3551
hybrid-diesel  diesel            1
hybrid-petrol  gasoline         36
dtype: int64

In [2]:
#using pandas function effectively
import pandas as pd
import seaborn as sns

cars = pd.read_csv("cars.csv")
list_car = ["transmission","engine_type"]
#create a GroupBy object using the list
gb = cars.groupby(by=list_car)
#find the mean for the variable "odometer_value"
print(gb["odometer_value"].mean())

transmission  engine_type
automatic     diesel         239832.923747
              electric        38000.000000
              gasoline       191539.370337
mechanical    diesel         295563.864700
              gasoline       235531.036430
Name: odometer_value, dtype: float64