## **Reshaping Data with Pandas**

In [25]:
# preparation
#import pandas 
import pandas as pd 

#insert dataset
churn = pd.read_csv("churn-bigml-20.csv")

#print the result for 5 upper rows 
churn.head()

  State  Account length  ...  Customer service calls  Churn
0    LA             117  ...                       1  False
1    IN              65  ...                       4   True
2    NY             161  ...                       4   True
3    SC             111  ...                       2  False
4    HI              49  ...                       1  False

[5 rows x 20 columns]

In [27]:
#import pandas 
import pandas as pd 

#insert dataset
churn = pd.read_csv("churn-bigml-20.csv")

# Set state and city as index modifying the DataFrame
churn.set_index("State", inplace=True)

# Print churn
print(churn.head())

       Account length  Area code  ... Customer service calls  Churn
State                             ...
LA                117        408  ...                      1  False
IN                 65        415  ...                      4   True
NY                161        415  ...                      4   True
SC                111        415  ...                      2  False
HI                 49        510  ...                      1  False

[5 rows x 19 columns]

In [59]:
#import pandas 
import pandas as pd 

#insert dataset
churn = pd.read_csv("churn-bigml-20.csv")

# Melt publisher column using title and authors as identifiers
churn_melted = churn.melt(id_vars=["State", "Area code"], 
                                     value_vars=["Total day minutes","Total day charge"],var_name="activity", value_name="amount")

# Print publisher_melted
print(churn_melted.head(10))

  State  Area code           activity  amount
0    LA        408  Total day minutes   184.5
1    IN        415  Total day minutes   129.1
2    NY        415  Total day minutes   332.9
3    SC        415  Total day minutes   110.4
4    HI        510  Total day minutes   119.3
5    AK        408  Total day minutes   146.3
6    MI        415  Total day minutes   211.3
7    ID        415  Total day minutes   159.1
8    VA        408  Total day minutes   186.1
9    WI        415  Total day minutes   148.8

In [47]:
#import pandas 
import pandas as pd 

#insert dataset
churn = pd.read_csv("churn-bigml-20.csv")

# Stack the resulting DataFrame using the first column level
churn_final = churn.stack(level=0)

# Print churn_time
print(churn_final.head(20))

0  State                        LA
   Account length              117
   Area code                   408
   International plan           No
   Voice mail plan              No
   Number vmail messages         0
   Total day minutes         184.5
   Total day calls              97
   Total day charge          31.37
   Total eve minutes         351.6
   Total eve calls              80
   Total eve charge          29.89
   Total night minutes       215.8
   Total night calls            90
   Total night charge         9.71
   Total intl minutes          8.7
   Total intl calls              4
   Total intl charge          2.35
   Customer service calls        1
   Churn                     False
dtype: object

In [60]:
#import pandas 
import pandas as pd 

#insert dataset
churn = pd.read_csv("churn-bigml-20.csv")

#checking for missing values 
print(churn.isna().sum())

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64